{{#if this.messageVisible}}
  <div class="maintenance-message-message--wrapper">
    <div class="maintenance-message-message--container">
      <h1>
        {{theme-i18n "heading"}}
      </h1>
      <div class="maintenance-message-message--contents">
        {{theme-i18n "message"}}
      </div>
    </div>
  </div>
{{else}}
  <div class="maintenance-message-message--staff-note">
    {{theme-i18n "staff_message"}}
  </div>
{{/if}}